<html>
<head>
    <title>Gin WAF</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">    
    <link rel="stylesheet" href="/assets/css/index.css">
</head>
<body>
    <div class="header">
        <h1>FlashCards APP</h1>
    </div>

    <a href="new_wiki">新規WIKI作成</a>
    <hr>
    
    <p>Aページの用語</a>
    {{ range .aWiki }}
        <li>{{.Title}}/{{.ScreenID}}</li>
        <img src="/assets/image/{{.PictureName}}" width="128" height="128">
        <a href="/wiki/{{.ID}}">詳細</a>
    {{ end }}
    <hr>

    <p>Bページの用語</p>
    {{ range .bWiki }}
        <li>{{.Title}}/{{.ScreenID}}</li>
        <img src="/assets/image/{{.PictureName}}" width="128" height="128">
        <a href="/wiki/{{.ID}}">詳細</a>
    {{ end }}
    <hr>

    <p>Cページの用語</p>
    {{ range .cWiki }}
        <li>{{.Title}}/{{.ScreenID}}</li>
        <img src="/assets/image/{{.PictureName}}" width="128" height="128">
        <a href="/wiki/{{.ID}}">詳細</a>
    {{ end }}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
    <script src="/assets/js/index.js"></script>

</body>
</html>