<html>
<head>
    <title>Gin WAF</title>
    <link rel="stylesheet" href="assets/css/index.css">
</head>
<body>
    <div class="header">
        <h1>FlashCards APP</h1>
    </div>
    <button onclick="clickEvent()">click</button>

    <script src="assets/js/index.js"></script>
</body>
</html>