<html>
<head>
    <title>Gin WAF</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">    
    <link rel="stylesheet" href="/assets/css/index.css">
</head>
<body>
<div class="container">
    <div class="header">
        <h1><a href="/wiki"><img src="/assets/image/logo.png" width="256" height="128" alt="logo"></a></h1>
    </div>
    <h4>新規作成</h4>
    <hr>
    <form method="post" enctype="multipart/form-data" action="/create_wiki">

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">用語　　</span>
            </div>
            <input type="text" name="title" class="form-control">
        </div>
        
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">意味　　</span>
            </div>
            <textarea type="text" class="form-control" name="text" rows="7"></textarea>
        </div>

        <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">作成者　</span>
        </div>
        <input type="text" name="author" class="form-control">
        </div>

        <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">参考　　</span>
        </div>
        <input type="url" name="url" class="form-control">
        </div>

        <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">出現画面</span>
        </div>
            <select name="screenId" class="form-control">
                <option value="1">A ページ</option>
                <option value="2">B ページ</option>
                <option value="3">C ページ</option>               
            </select>                            
        </div>

        
        <p>画像ファイル：<input type="file" name="file"></p>
        <br>
        
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-10">
                <button class="con btn btn-primary btn-block">作成</button>
            </div>
            <div class="col-1">
            </div>            
        </div>
    </form>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
    <script src="/assets/js/index.js"></script>
</div>
</body>
</html>